<div >
  <h2>
    hello world
  </h2>
  <div class="venkat">
    <label>Enter your name  :</label>
  </div>
  <input type="text" id="name">
</div>

<div class="col-10" id="changePage">
  <div class="container">
      <div class="row">
          <div class="col-10">
              <div class="card">
                  <div class="card-header" style="text-align: center;">
                      Dealer Limit Admin Screan
                  </div>
                  <div class="card-body" style="text-align: center;">
                      <a href="#" class="btn btn-secondary">Add new row</a>
                  </div>
                  <div class="card-body">
                      <table class="table table-striped">
                          <thead>
                              <tr>
                                  <th>Select</th>
                                  <th>Dealer Code</th>
                                  <th>Monthly Limit</th>
                                  <th>Daily Limit</th>
                                  <th>Edit</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>
                                      test
                                  </td>
                                  <td>
                                      test
                                  </td>
                                  <td>
                                      test
                                  </td>
                                  <td>
                                      test
                                  </td>
                                  <td>
                                      test
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>